%hover {
  &:hover > .overlay {
    visibility: visible;
    cursor: pointer;
  }
}

.animalsHover {
  max-width: 60%;
  margin: 3rem auto 0;
  & * {
    height: 650px;
    width: 275px;
  }
}

.animals {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  & * {
    @extend %hover;
  }
  #Threatened {
    background-image: url("https://images.pexels.com/photos/1543417/pexels-photo-1543417.jpeg?auto=compress&cs=tinysrgb&w=1600");
  }
  #Vulnerable {
    background-image: url("https://images.pexels.com/photos/7190227/pexels-photo-7190227.jpeg?auto=compress&cs=tinysrgb&w=1600");
  }
  #Endangered {
    background-image: url("https://images.pexels.com/photos/33787/chimpanzee-sitting-sad-mammal.jpg?auto=compress&cs=tinysrgb&w=1600");
  }
  #CriticallyEndangered {
    background-image: url("https://images.pexels.com/photos/1068554/pexels-photo-1068554.jpeg?auto=compress&cs=tinysrgb&w=1600");
  }

  .overlay {
    visibility: hidden;
    padding: 0;
  }
}
