$green: #104911;
$lgreen: #548c2f;

.misvisContainer {
  h1 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 800;
    color: $green;
    margin-bottom: 2rem;
  }
}

img {
  max-width: 480px;
}

.misvisText {
  margin-top: 1.3rem;
  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: $green;
  }
  p {
    text-align: justify;
    font-size: 1.2rem;
  }
}

.joinUs {
  margin-top: 3rem;
  text-align: center;

  button {
    padding: 1em 3.2em;
    border-radius: 25px;
    font-size: 1.1rem;
    background-color: $lgreen;
    color: white;
    cursor: pointer;
  }
}
