.animalsContainer {
  margin: 3rem;
}

.animalCategory {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 130px;
  width: 130px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: 300;
  padding: 1rem;

  &:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: 0.3s;
    cursor: pointer;
  }
  &#Threatened {
    background-image: url("../Images/Tarsier.jpg");
  }
  &#Vulnerable {
    background-image: url("../Images/LuzonBleedingHeartDove.webp");
  }
  &#Endangered {
    background-image: url("../Images/CalamianDeer.jpg");
  }
  &#CriticallyEndangered {
    background-image: url("../Images/Colasisi.jpg");
  }
}

.activeAnimal {
  border: 5px solid;
  border-color: #f9a620;
}

.animalDataContainer {
  margin-top: 2rem;
  display: flex;
}

.categorySummary {
  width: 60%;
  margin: 1rem auto;
  text-align: center;
}

.animalImg {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin: 0;
}

.animalPictures {
  margin-left: 5rem;
  text-align: center;

  p {
    margin-bottom: 1rem;
  }
}
